<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<context:component-scan base-package="com.icss.biz"/>
	<context:component-scan base-package="com.icss.dao"/>
	<context:component-scan base-package="com.icss.aspect"/>
	<context:component-scan base-package="com.icss.kafka"></context:component-scan>
	<aop:aspectj-autoproxy/>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property value="com.mysql.cj.jdbc.Driver"
			name="driverClassName" />
		<property
			value="jdbc:mysql://localhost:3306/sarft?serverTimezone=UTC&amp;allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=Asia/Shanghai"
			name="url" />
		<property value="root" name="username" />
		<property value="mysql" name="password" />
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.icss.mapper" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager"/>
	<!-- <jaxws:client id="smsClient" serviceClass="com.icss.service.IScreenQuery"
		address="http://localhost:8081/service/sc/screen?wsdl" /> -->
</beans>
